<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Info de la Mascota Perdida</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>Mascota Perdida</h1>
    <p><strong>Nombre:</strong> <%= mascota.nombre %></p>
    <p><strong>Contacto para Recuperación:</strong> <%= mascota.contacto %></p>
    <p>Gracias por ayudar a reunir a esta mascota con su dueño.</p>
  </body>
</html>
