body {
  font-family: "Nunito", sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.admin-header {
  background-color: #0077cc;
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-admin {
  height: 50px;
  margin-right: 15px;
}

nav a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.admin-footer {
  text-align: center;
  padding: 10px;
  background-color: #0077cc;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}
